@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
}

@media screen and (max-width: 427px) {
  .container {
    max-width: 320px;
  }
  .our-team {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer__text {
    text-align: center;
    width: auto;
  }
  .menu-mob__address {
    width: auto;
  }
  .menu-mob__address-tel {
    font-size: 25px;
  }
  .logo__list--mob {
    gap: 30px;
  }
  .main-section__title {
    font-size: 31px;
    width: auto;
  }
  .modal {
    min-width: 290px;
  }
  .modal__title {
    font-size: 11px;
  }
  .modal-form__terms-text {
    font-size: 7px;
  }
  .modal-form__link {
    font-size: 7px;
  }
}

@media screen and (max-width: 767px) {
  .main-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-mob.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-mob@2x.jpg);
    }
  }
  .header{ 
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu-mob {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-mob.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  /* ========== Header ========== */
  .menu-mob {
    display: none;
  }
  .menu-mob__open-btn {
    display: none;
  }
  .menu {
    display: inline-flex;
  }
  .addres {
    display: block;
  }
  .header nav {
    display: block;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__logo {
    margin-right: 76px;
  }
  .address__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address__link {
    margin-right: 0;
  }
  .address__link-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .menu__list-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* ========== Main section ========== */
  .main-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-tab@2x.jpg);
    }
  }
  .main-section__title {
    width: 496px;
    margin: 0 auto 36px auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color__white);
  }
  /* ========== Features/Heroes section ========== */
  .features {
    gap: 72px 24px;
  }
  .features__text {
    width: 356px;
  }
  .features__title {
    text-align: left;
  }
  /* ========== Our team ========== */
  .our-team {
    /* padding: 96px 108px; */
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .our-team__list {
    gap: 64px 24px;
  }
  /* ========== Customers ========== */
  .customers {
    /* padding: 96px 108px; */
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .customers__list {
    gap: 72px 24px;
  }
  /* ========== Footer ========== */
  .footer > .container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    width: 568px;
  }
  .footer {
    /* padding: 97.5px 164px 96px 108px; */
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .wrapper--first {
    margin: 0;
  }
  .footer__logo {
    text-align: left;
  }
  .footer-icon__text {
    text-align: left;
  }
  .footer-icon__list {
    justify-content: flex-start;
  }
  .wrapper--second {
    margin-bottom: 0;
  }
  .wrapper--third {
    width: 100%;
  }
  .subscribe {
    text-align: left;
  }
  .footer-form {
    width: 453px;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
  /* ========== Header ========== */
  /* .header {
    padding-top: 25.5px;
  } */
  .address__list {
    flex-direction: row;
    gap: 40px;
  }
  .address__link-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* ========== Main section ========== */
  .main-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people@2x.jpg);
    }
  }

  .main-section {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .main-section__title {
    width: 496px;
    margin: 0 auto 48px auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color__white);
  }
  /* ========== Features/Heroes section ========== */
  .heroes {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .features__wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--color__cloud);
    border-radius: 4px;
  }
  .features__title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color__navy-blue);
  }
  .features__text {
    width: 264px;
  }
  .features {
    gap: 24px;
  }
  /* ========== What are we doing ========== */
  .our-work {
    display: block;
    padding-bottom: 120px;
  }
  .our-work__title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color__navy-blue);
  }
  .our-work__list {
    display: flex;
    justify-content: space-between;
  }
  /* ========== Our team ========== */
  .our-team {
    /* padding: 120px 15px; */
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .our-team__list {
    gap: 24px;
  }
  /* ========== Customers ========== */
  .customers {
    /* padding: 120px 15px; */
    padding-top: 120px;
    padding-bottom: 120px;
  }
  /* ========== Footer ========== */
  .footer {
    padding: 100px 0px;
  }
  .footer > .container {
    width: 1158px;
    display: flex;
    flex-wrap: nowrap;
    gap: 0px;
  }
  .wrapper--first {
    margin-right: 120px;
  }
  .wrapper--second {
    margin-right: 80px;
  }
  .footer-form__input {
    width: 264px;
  }
}
