:root {
  --color__iris: #4d5ae5;
  --color__ocean: #404bbf;
  --color__navy-blue: #2e2f42;
  --color__green: #31d0aa;
  --color__slate: #434455;
  --color__light-slate: #8e8f99;
  --color__cornflower: #e7e9fc;
  --color__cloud: #f4f4fd;
  --color__navy-blue-modal: #2e2f42;
  --color__grey: #2e2f42;
  --color__white: #ffffff;
  --font__primary: 'Roboto';
  --font__secondary: 'Raleway';
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}

/* ========== Reset ========== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
textarea {
  display: block;
}
input:hover,
input:focus {
  outline: none;
}
img {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}

body {
  font-family: var(--font__primary, 'Arial', sans-serif);
  color: var(--color__slate);
  background-color: var(--color__white);
  font-size: 16px;
}
.container {
  width: 100%;
  /* max-width: 1158px; */
  /* padding-left: 15px;
  padding-right: 15px; */
  margin: 0 auto;
}
/* ========== hidden elements class ========== */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ========== Header Menu Mobile ========== */
.menu-mob {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 24px 40px 40px;
  background-color: white;
  overflow: auto;
}
.menu-mob__close-btn {
  position: relative;
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-bottom: 32px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color__cornflower);
}
.menu-mob__close-ico {
  position: absolute;
  top: 7.3px;
  left: 7.2px;
}
.menu-mob__item:not(:last-child) {
  margin-bottom: 40px;
}
.menu-mob__item-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color__navy-blue);
}
.menu-mob__address {
  width: 353px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  font-style: normal;
}
.menu-mob__address-item:first-child {
  margin-bottom: 40px;
}
.menu-mob__address-tel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color__iris);
}
.menu-mob__address-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color__slate);
}

/* ========== Header ========== */
.menu-mob__open-btn {
  background-color: transparent;
}
.burger-icon {
  stroke: var(--color__navy-blue);
}
.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--color__cornflower);
}
.header nav {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  font-family: var(--font__secondary, 'Arial', sans-serif);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color__navy-blue);
}
.header__logo--iris {
  color: var(--color__iris);
}
.menu {
  display: none;
}
.menu__list {
  margin-right: 40px;
}
.menu__list:last-child {
  margin-right: 0;
}
.menu__list-text {
  display: inline-block;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--color__navy-blue);
  transition: color var(--transition-duration) var(--cubic-bezier);
}
.menu__list-text:hover,
.menu__list-text:focus {
  color: var(--color__ocean);
}
.current.menu__list-text::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color__ocean);
}
.current {
  color: var(--color__iris);
}
.addres {
  display: none;
}
.addres {
  margin-left: auto;
}
.address__list {
  display: flex;
}
.address__link {
  margin-right: 40px;
}
.address__link:last-child {
  margin-right: 0;
}
.address__link-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color__slate);
  font-style: normal;
  transition: color var(--transition-duration) var(--cubic-bezier);
}
.address__link-text:hover,
.address__link-text:focus {
  color: var(--color__ocean);
}

/* ========== Footer ========== */
.footer {
  padding-top: 96.5px;
  padding-bottom: 97px;
  background-color: var(--color__navy-blue);
}
.wrapper--first {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 72px;
}
.wrapper--second {
  margin-bottom: 72px;
}
.footer__logo {
  text-align: center;
  display: block;
  margin-bottom: 16px;
  font-family: var(--font__secondary, 'Arial', sans-serif);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color__cloud);
}
.footer__logo--iris {
  color: var(--color__iris);
}
.footer__text {
  width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color__cornflower);
}
.footer-icon__text {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color__white);
}
.footer-icon__list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-icon__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition-duration) var(--cubic-bezier);
}
.footer-icon__link:hover,
.footer-icon__link:focus {
  background-color: var(--color__green);
}
.subscribe {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color__white);
  text-transform: capitalize;
}
.footer-form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.footer-form__input {
  width: 100%;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--color__white);
  transition: border-color var(--transition-duration) var(--cubic-bezier);
}
.footer-form__input::placeholder {
  font-size: 12px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input:focus,
.footer-form__input:hover {
  border-color: var(--color__iris);
}
.footer-form button[type='submit'] {
  margin: 0 auto;
  display: flex;
  gap: 16px;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color__white);
  background-color: var(--color__iris);
  border-radius: 4px;
  transition: background-color var(--transition-duration) var(--cubic-bezier);
}
.footer-form button[type='submit']:hover,
.footer-form button[type='submit']:focus {
  background-color: var(--color__ocean);
}

/* ========== Main section ========== */
.main-section {
  padding-top: 112px;
  padding-bottom: 112px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color__navy-blue);
}
.main-section__title {
  width: 320px;
  margin: 0 auto 72px auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color__white);
}
.main-section__button {
  margin: 0 auto;
  background-color: var(--color__iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color__white);
  padding: 16px 32px;
  font-family: inherit;
  font-size: 16px;
  transition: background-color var(--transition-duration) var(--cubic-bezier),
    box-shadow var(--transition-duration) var(--cubic-bezier),
    color var(--transition-duration) var(--cubic-bezier);
}
.main-section__button:active,
.main-section__button:focus,
.main-section__button:hover {
  background-color: var(--color__ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--color__white);
}
.main-section__button:active .is-hidden {
  opacity: 1;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-duration) var(--cubic-bezier),
    visibility var(--transition-duration) var(--cubic-bezier);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

/* ========== Modal Window ========== */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 408px;
  min-height: 576px;
  padding: 72px 24px 24px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration) var(--cubic-bezier);
}
.modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--color__cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform: scale(1);
  transition: transform var(--transition-duration) var(--cubic-bezier),
    background-color var(--transition-duration) var(--cubic-bezier);
}
.modal__button::before {
  position: absolute;
  content: '';
  border-bottom: 1px solid #000000;
  width: 8px;
  transform: rotate(-45deg);
  transition: border-color var(--transition-duration) var(--cubic-bezier);
}
.modal__button::after {
  position: absolute;
  content: '';
  border-bottom: 1px solid #000000;
  width: 8px;
  height: 1px;
  transform: rotate(45deg);
  transition: border-color var(--transition-duration) var(--cubic-bezier);
}
.modal__button:hover,
.modal__button:focus {
  background-color: var(--color__ocean);
}
.modal__button:hover::before,
.modal__button:hover::after,
.modal__button:focus::before,
.modal__button:focus::after {
  border-color: var(--color__white);
}
.modal__title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color__navy-blue);
}
.modal-form__label {
  display: block;
  margin-bottom: 8px;
}
.modal-form__label--last {
  display: block;
  margin-bottom: 16px;
}
.modal-form__wrapper {
  position: relative;
}
.modal-form__wrapper svg {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill var(--transition-duration) var(--cubic-bezier);
}
.modal-form__text {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.17;
  color: var(--color__light-slate);
}
.modal-form__input {
  width: 100%;
  height: 40px;
  padding: 11px 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color var(--transition-duration) var(--cubic-bezier);
}
.modal-form__input:focus,
.modal-form__input:hover {
  border-color: var(--color__iris);
}
.modal-form__input:focus + svg,
.modal-form__input:hover + svg {
  fill: var(--color__iris);
}
.modal-form__label--last textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color var(--transition-duration) var(--cubic-bezier);
  outline: none;
}
.modal-form__label--last textarea:hover,
.modal-form__label--last textarea:focus {
  border-color: var(--color__iris);
}
.modal-form__label--last textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__inner {
  margin-bottom: 24px;
  display: flex;
  text-align: center;
}
.modal-form__checkbox {
  appearance: none;
}
.modal-form__terms-text {
  display: flex;
  text-align: center;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  color: #757575;
}
.modal-form__terms-text::before {
  content: '';
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
}
.modal-form__checkbox:checked + .modal-form__terms-text::before {
  background-image: url(../images/checkbox-icon.svg);
  background-size: contain;
  background-origin: border-box;
  border: transparent;
}
.modal-form__link {
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  text-decoration: underline;
  color: var(--color__iris);
  transition: color var(--transition-duration) var(--cubic-bezier);
}
.modal-form__link:focus,
.modal-form__link:hover {
  color: var(--color__ocean);
}
.modal-form__button {
  width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color__white);
  background-color: var(--color__iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: color var(--transition-duration) var(--cubic-bezier),
    background-color var(--transition-duration) var(--cubic-bezier),
    box-shadow var(--transition-duration) var(--cubic-bezier);
}
.modal-form__button:active,
.modal-form__button:focus,
.modal-form__button:hover {
  background-color: var(--color__ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--color__white);
}

/* ========== Features/Heroes section ========== */
.heroes {
  padding: 96px 15px 96px 15px;
}
.features {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.features__wrapper {
  display: none;
}
.features__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color__navy-blue);
}
.features__text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ========== What are we doing ========== */
.our-work {
  display: none;
}
/* ========== Our team ========== */
.our-team > .container {
  width: 264px;
}
.our-team {
  padding: 96px 82px;
  background-color: var(--color__cloud);
}
.our-team__title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color__navy-blue);
}
.our-team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
.our-team__item {
  background-color: var(--color__white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.our-team__subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color__navy-blue);
}
.our-team__text {
  margin-bottom: 8px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
.our-team__wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
}
.logo__list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.logo__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--color__iris);
  border-radius: 50%;
  transition: background-color var(--transition-duration) var(--cubic-bezier);
}
.logo__link:hover,
.logo__link:focus {
  background-color: var(--color__ocean);
}

/* ========== Customers ========== */
.customers {
  padding: 96px 15px;
}
.customers__title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color__navy-blue);
}
.customers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;
}
.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: var(--color__light-slate);
  transition: color var(--transition-duration) var(--cubic-bezier);
}
.customers__link:hover,
.customers__link:focus {
  color: var(--color__ocean);
}
.customer__icon {
  fill: currentColor;
}

/* ========== Portfolio ========== */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}
.filter__button {
  box-sizing: border-box;
  background-color: var(--color__cloud);
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color__iris);
  padding: 12px 24px;
  font-family: inherit;
  font-size: 16px;
  transition: background-color var(--transition-duration) var(--cubic-bezier),
    color var(--transition-duration) var(--cubic-bezier),
    box-shadow var(--transition-duration) var(--cubic-bezier);
}
.filter__button:active,
.filter__button:focus,
.filter__button:hover {
  background-color: var(--color__ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--color__white);
  border-color: transparent;
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio__item {
  width: 360px;
}
.portfolio__subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color__navy-blue);
}
.portfolio__text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color__slate);
}
.portfolio__wrapper {
  padding: 32px 16px;
  border-right: 1px solid var(--color__cornflower);
  border-bottom: 1px solid var(--color__cornflower);
  border-left: 1px solid var(--color__cornflower);
}
.portfolio__link {
  display: block;
  transition: box-shadow var(--transition-duration) var(--cubic-bezier);
}
.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.thumb {
  position: relative;
  overflow: hidden;
}
.thumb__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: var(--color__iris);
  padding: 40px 32px;
  transition: transform var(--transition-duration) var(--cubic-bezier);
}
.thumb__text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color__cloud);
}
.portfolio__link:hover .thumb__overlay,
.portfolio__link:focus .thumb__overlay {
  transform: translateY(-100%);
}
